Flask
flask-login

#Once flask-oauth support for Python 3 has been released uncomment 
# and remove corresponding entry in docker/yamz/Dockerfile-yamz
#Flask-OAuth

flask-caching
flask-swagger-ui
Jinja2
MarkupSafe
Werkzeug
argparse
configparser
gunicorn
httplib2
itsdangerous
oauth2
psycopg2
python-dateutil
python-postmark
requests
