Flask==0.10.1
Flask-Login==0.2.3
Flask-OAuth==0.12
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.9.1
argparse==1.2.1
configparser==3.3.0r2
gunicorn==0.17.4
httplib2==0.8
itsdangerous==0.21
oauth2==1.5.211
psycopg2==2.5.1
wsgiref==0.1.2
python-dateutil==1.5
python-postmark>=0.4.3
requests>=0.7.5
